@keyframes bgfade {
  33% {
    background-color: #e45606;
  }
  66% {
    background-color: #cfe030;
  }
}
@keyframes sidebarfade {
  33% {
    background-color: #3c9be0;
  }
  66% {
    background-color: #727ae0;
  }
}
html,
body {
  position: fixed;
  background-color: #e0270d;
  animation-name: bgfade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  margin: 0;
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
  color: white;
  font-family: "lato";
}
html .body-content,
body .body-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}
html .body-content .sidebar-content,
body .body-content .sidebar-content {
  background-color: #63e092;
  display: flex;
  flex-direction: column;
  animation-name: sidebarfade;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  height: 100%;
  overflow: auto;
}
html .body-content .sidebar-content .header,
body .body-content .sidebar-content .header {
  display: flex;
  border-bottom: rgba(99, 224, 146, 0.5) solid 3px;
  justify-content: space-between;
  padding: 10px;
}
html .body-content .sidebar-content .header h2,
body .body-content .sidebar-content .header h2 {
  padding: 0 20px;
}
html .body-content .sidebar-content .name-wrapper,
body .body-content .sidebar-content .name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  border-bottom: rgba(99, 224, 146, 0.5) solid 3px;
}
html .body-content .sidebar-content .name-wrapper .name,
body .body-content .sidebar-content .name-wrapper .name {
  padding: 5px;
  width: 80%;
}
html .body-content .sidebar-content .name-wrapper .name .name-and-weight,
body .body-content .sidebar-content .name-wrapper .name .name-and-weight {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
}
html .body-content .sidebar-content .name-wrapper .name .name-and-weight div:first-child,
body .body-content .sidebar-content .name-wrapper .name .name-and-weight div:first-child {
  min-width: 70%;
}
html .body-content .sidebar-content .name-wrapper .name .name-and-weight div:last-child,
body .body-content .sidebar-content .name-wrapper .name .name-and-weight div:last-child {
  min-width: 30%;
  text-align: right;
}
html .body-content .sidebar-content .name-wrapper .name .name-and-weight .colored-num,
body .body-content .sidebar-content .name-wrapper .name .name-and-weight .colored-num {
  color: #e0654a;
}
html .body-content .sidebar-content .name-wrapper .name .name-and-weight .white-num,
body .body-content .sidebar-content .name-wrapper .name .name-and-weight .white-num {
  color: white;
}
html .body-content .sidebar-content .name-wrapper .button-wrapper .count,
body .body-content .sidebar-content .name-wrapper .button-wrapper .count {
  padding: 5px;
}
html .body-content .sidebar-content .name-wrapper .button-wrapper button,
body .body-content .sidebar-content .name-wrapper .button-wrapper button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 25px;
}
html .body-content .sidebar-content .highlight-winner,
body .body-content .sidebar-content .highlight-winner {
  background-color: #e09fcf;
}
html .body-content .sidebar-content .name-wrapper:last-child,
body .body-content .sidebar-content .name-wrapper:last-child {
  border: none;
}
html .body-content .sidebar-content .name-wrapper:hover,
body .body-content .sidebar-content .name-wrapper:hover {
  background-color: #63e092;
}
html .body-content .page-content,
body .body-content .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid white 5px;
}
html .body-content .page-content .spinner-wrapper,
body .body-content .page-content .spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .body-content .page-content .spinner-wrapper .spinner,
body .body-content .page-content .spinner-wrapper .spinner {
  color: white;
  font-size: 3rem;
}
html .body-content .page-content .spinner-wrapper #spinner-button,
body .body-content .page-content .spinner-wrapper #spinner-button {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 20px;
  font-size: 2rem;
  color: white;
  background-color: #9b8db4;
  cursor: pointer;
}
html .body-content .page-content .spinner-wrapper #spinner-button:active,
body .body-content .page-content .spinner-wrapper #spinner-button:active {
  padding: 15px;
}
html .body-content .page-content .spinner-wrapper #spinner-button:disabled,
body .body-content .page-content .spinner-wrapper #spinner-button:disabled {
  opacity: 80%;
  padding: 15px;
  cursor: none;
}
html .body-content .page-content .spinner-wrapper #spinner-button:hover,
body .body-content .page-content .spinner-wrapper #spinner-button:hover {
  background-color: #c1afe0;
}/*# sourceMappingURL=index.css.map */