@keyframes bgfade {
  33% {
    background-color: #e45606;
  }
  66% {
    background-color: #cfe030;
  }
}

@keyframes sidebarfade {
  33% {
    background-color: #3c9be0;
  }
  66% {
    background-color: #727ae0;
  }
}

html,
body {
  position: fixed;
  background-color: #e0270d;
  animation-name: bgfade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  margin: 0;
  width: 100%;
  min-height: fit-content;
  height: 100%;
  color: white;
  font-family: "lato";

  .body-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;

    .sidebar-content {
      background-color: #63e092;
      display: flex;
      flex-direction: column;
      animation-name: sidebarfade;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      height: 100%;
      overflow: auto;

      .name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 100%;

        .name {
          padding: 5px;
        }
        .button-wrapper {
          .count {
            padding: 5px;
          }
          button {
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 7px;
          }
        }
      }
      .highlight-winner {
        background-color: #e09fcf;
      }
    }

    .page-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: solid white 5px;

      .spinner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .spinner {
          color: white;
          font-size: 3rem;
        }

        #spinner-button {
          border: none;
          outline: none;
          border-radius: 8px;
          padding: 20px;
          font-size: 2rem;
          color: white;
          background-color: #9a9a9a;
          cursor: pointer;
        }
        #spinner-button:active {
          padding: 15px;
        }
        #spinner-button:disabled {
          opacity: 80%;
          padding: 15px;
          cursor: none;
        }
      }
    }
  }
}
