@keyframes bgfade {
  33% {
    background-color: #e45606;
  }
  66% {
    background-color: #cfe030;
  }
}

@keyframes sidebarfade {
  33% {
    background-color: #3c9be0;
  }
  66% {
    background-color: #727ae0;
  }
}

html,
body {
  position: fixed;
  background-color: #e0270d;
  animation-name: bgfade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  margin: 0;
  width: 100%;
  min-height: fit-content;
  height: 100%;
  color: white;
  font-family: "lato";

  .body-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;

    .sidebar-content {
      background-color: #63e092;
      display: flex;
      flex-direction: column;
      animation-name: sidebarfade;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      height: 100%;
      overflow: auto;

      .header {
        display: flex;
        border-bottom: rgba(99, 224, 146, 50%) solid 3px;
        justify-content: space-between;
        padding: 10px;
        h2 {
          padding: 0 20px;
        }
      }
      .name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 100%;
        border-bottom: rgba(99, 224, 146, 50%) solid 3px;

        .name {
          padding: 5px;
          width: 80%;
          .name-and-weight {
            display: flex;
            justify-content: center;
            width: 100%;
            // font-weight: bold;
            font-size: 1.5rem;
            div:first-child {
              min-width: 70%;
            }
            div:last-child {
              min-width: 30%;
              text-align: right;
            }
            .colored-num {
              color: #e0654a;
            }
            .white-num {
              color: white;
            }
          }
        }
        .button-wrapper {
          .count {
            padding: 5px;
          }
          button {
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 10px 25px;
          }
        }
      }
      .highlight-winner {
        background-color: #e09fcf;
      }
      .name-wrapper:last-child {
        border: none;
      }
      .name-wrapper:hover {
        background-color: #63e092;
      }
    }

    .page-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: solid white 5px;

      .spinner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .spinner {
          color: white;
          font-size: 3rem;
        }

        #spinner-button {
          border: none;
          outline: none;
          border-radius: 8px;
          padding: 20px;
          font-size: 2rem;
          color: white;
          background-color: #9b8db4;
          cursor: pointer;
        }
        #spinner-button:active {
          padding: 15px;
        }
        #spinner-button:disabled {
          opacity: 80%;
          padding: 15px;
          cursor: none;
        }
        #spinner-button:hover {
          background-color: #c1afe0;
        }
      }
    }
  }
}
