html,
body {
  background-color: red;
  margin: 0;
  width: 100%;
  height: 100vh;
  // animation-name: bgfade;
  // animation-duration: 60s;
  // animation-iteration-count: infinite;
  color: blue;
  font-family: "lato";

  .body-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;

    .sidebar-content {
      display: flex;
      flex-direction: column;

      background-color: palegreen;
      .name-wrapper {
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 100%;
        .name {
          padding: 10px;
          // text-align: center;
        }
        .button-wrapper {
          .count {
            padding: 5px;
          }
        }
      }
      .highlight-winner {
        background-color: pink;
      }
    }

    .page-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: solid green 2px;

      .spinner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .spinner {
          color: black;
          font-size: 5rem;
        }

        .spinner-button {
          border: none;
        }
      }
    }
  }
}
